on:
  push:
    branches:
    - main
name: Deploy website on push
jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v3

    - name: Push files
      uses: SamKirkland/FTP-Deploy-Action@v4.3.6
      with:
        server: ftp.cluster010.hosting.ovh.net
        username: zrenard
        password: ${{ secrets.ftp_password }}
        exclude: |
          **/.git*
          **/.git*/**
